<section>

    {{#with room}}
    <h1>{{name}}</h1>
    {{/with}}

    Facilities
    <form action="/facility/{{room._id}}/decorateRoom" method="post">
        <ul>
            {{#each facilities}}
            <li><label><input type="checkbox" name="{{_id}}" {{#if checked}}checked{{/if}}>{{label}}<img src="{{iconUrl}}"></label></li>
            {{/each}}
        </ul>
        <button>Confirm</button>
    </form>
</section>