<section>

    {{#with room}}
    <h1>{{name}} - Details</h1>
    <div><img src="{{imgUrl}}" alt=""></div>
    <p>{{description}}</p>
    <p>Price per night: {{price}}$</p>

    <ul>
        {{#each facilities}}
        <li>{{label}} <img src="{{iconUrl}}"></li>
        {{/each}}
    </ul>
    {{/with}}


    {{#if room.isOwner}}
    <div>
        <a href="/facility/{{room._id}}/decorateRoom">Edit facilities</a>
    </div>
    {{/if}}

</section>